{
  "LOCAL": {
   "PLATFORM_ENV": "local",
  "PLATFORM_PORT": 9000,
  "PLATFORM_KEY": "",
  "PLATFORM_BACKEND_URL": "",
  "PLATFORM_EMAIL": "",
  "PLATFORM_URL": "https://crafttrust.com",
  
  "DB_URL": "postgresql://crafttrust:postgres@db:5432/postgres",
  "REDIS_URL": "redis://redis:6379",

  "GOOGLE_STORAGE_CDN_SECOND": "https://cdn.dev.crafttrust.com",
  "GOOGLE_STORAGE_BUCKET_NAME": "",
  "GOOGLE_STORAGE_CREDENTIALS": ""
  }
}
  