/* total width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: 'transparent';
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #33333349;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #18D458;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}
