<h1>
  Dear <%= fields.ownerName %>
</h1>

<p>
  You were disconnected from <b><%= fields.facilityName %></b> Facility. You no longer have access to their Products. Please contact your Facility if you think this was a mistake.
</p>
