<h1>
  Dear <%= fields.ownerName %>
</h1>

<p>
  You have disconnected Buyer from <b><%= fields.facilityName %></b> from you Facility. They no longer have access to your Storefront. You can invite them again by sending invitation. 
</p>
