<h1>
  Your Request Has Been Approved
</h1>

<p>
  <%= fields.name %>, You’re now allowed to register. Click the link below to complete the process.
</p>

<div class="button-wrapper">
  <a href="<%= fields.url %>" class="button">Register</a>
</div>