<h1>
  Your Request is Being Reviewed!
</h1>

<p>
  <%= fields.name %>, thank you for requesting access to CraftTrust’s cannabis platform and ecosystem. You’re going to love what we’re preparing for you! 
</p>

<p>
  You can expect a call (or text) from our team shortly.
</p>