<h1>
  Dear Customer,
</h1>

<p>
  The order <%= fields.orderId %> was not paid by <%= fields.facilityBuyerName %> according to Net Terms. 
  Please contact Buyer as soon as possible to address this issue.
</p>

