<h1>
  Dear Customer,
</h1>

<p>
  This is a friendly reminder that your payment for order <%= fields.orderId %> should be made before <%= fields.paymentDate %>.
  Please take care of this payment at your earliest convenience.
</p>